<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link rel="stylesheet" href="../styles/error.css">
  <title>Document</title>
</head>
<div class="main">
    <div class="content">
        <a><%= error %></a>
    </div>
    <div class="sorry">
        <a><%= url %> <i class="em em-man-facepalming"></i></a>
    </div>
</div>
</html>