<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %>
<body>
  <%- include('partials/header', {bookTitle: 'Add A Book'}); %>

  <form action="/book" method="POST">
    <label>Book Title: <input type="text" name="title"></label>
    <label>Author: <input type="text" name="author"></label>
    <label>ISBN: <input type="number" name="isbn"></label>
    <label>Image URL: <input type="url" name="image_url" id="url"></label>
    <label>Description: <input type="textarea" name="description"></label>
    <input type="submit" name="submit" id="submit">
  </form>
</body>
</html>