<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %>
  <link rel="stylesheet" type="text/css" href="../styles/base.css" />
<body>
  <%- include('partials/header', {bookTitle: 'Add A Book'}); %>
  <div id="form-container">
    <header id="form-head">ADD A BOOK</header>
    <form id="form" class="topBefore" action="/book" method="POST">
      <label>Book Title: <input id="name" class="text" type="text" name="title" required></label>
      <label>Author: <input id="email" type="text" class="text" name="author" required></label>
      <label>ISBN: <input type="number" class="text" name="isbn" required></label>
      <label>Image URL: <input type="url" class="text" name="image_url" id="url" pattern="https?://.+" required></label>
      <label>Description: <textarea id="message" class="text" type="textarea" name="description" required></textarea></label>
      <input id="submit" type="submit" name="submit" id="submit">
    </form>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../scripts/app.js"></script>
</body>
</html>
