.show-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
}

.show-container div{
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 300px;
  line-height: 26px;
}

.logo-container{
  display: flex;
  flex-direction: column;
}

.book-image{
  width: 200px;
}

.book-info-container{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.solo-book {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.solo-book h2 {
  text-align: center;
}
