body {
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 225px;
  border: 1px solid #1c1c1c;
  margin-top: 20px;
  box-shadow: 1px 1px 1px 1px #ccc;
}

* {
  box-sizing: border-box;
}

.inner-nail {
  display: flex;
  width: 90%;
  height: 85%;
}

.inner-nail img {
  max-height: 185px;
  margin-top: 3px;
  width: 50%;
}

.presentation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.presentation h4 {
  font-family: "Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 300px;
  font-style: italic;
  line-height: 26px;
}

.author {
  font-family: "Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: 400px;
  line-height: 13px;
}

.read {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 700px;
  line-height: 20px;
  color: #1c1c1c;
}

.read a {
  color: #1c1c1c;
  text-decoration: none;
}

.read a:hover {
  color: #ff6060;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px){
  .thumbnail {
    display: inline-block;
    width: 90%;
    margin-bottom: 20px;
  }

  .inner-nail img {
    margin-top: 25px;
    margin-left: 25px;
  }

  .main-nav {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .hamburger {
    display: flex;
    font-size: 30px;
  }

  footer span {
    font-size: 11px;
  }

  footer img {
    width: 8%;
    height: 8%;
  }

  .container {
    margin-bottom: 0px;
  }

  .book-info-container {
    width: 95%;
  }
}

/* header */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
  font-size: 1.45em;
}

.logo i {
  color: white;
}
.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
  display: block;
  color: #2d9b96;
}

.main-nav a {
	color: white;

}

.main-nav a:hover {
	color: #718daa;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #a2a2a2;
  font-family: "Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
  background-color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
  width: 100%;
  height: 20%;
}

footer span {
  position: absolute;
}

footer img {
  width: 5%;
  height: 5%;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
  }
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
